@import url(./__like-counter/place-card__like-counter.css);
@import url(./__like-icon/place-card__like-icon.css);


.place-card__like {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}